.nav {
    display: flex;
    justify-content: space-between;
}

.nav h1 {
    color:blueviolet;
    margin:0;
    font-size: 40px;
}

.nav li {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li{
    padding-left: 15px;
    padding-top: 15px;
}

.nav li a{
    text-decoration: none;
    color: blueviolet;
}

.nav .nav-search input {
    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 40px;
    border-right: 0px;
}

.nav .nav-search button {
    
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 44px;
    border-left: 0px;
}

.nav .nav-search{
    margin-top: 5px;
    flex:1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.form-input{
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid blueviolet;
    color: blueviolet;
}

.form-button{
    height: 35px;
    border: 1px solid blueviolet;
    cursor: pointer;
}

.comman-form{
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
}

.error-p{
    color:red;
}

.message-p{
    color:green;

}